<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Active Learning Tool - Login</title>
        <link rel="icon" type="image/png" href="images/active_learning_logo_icon.png" />
        <link rel="stylesheet" type="text/css" href="css/login.css" />

        <script>
            var redirect = '{{redirect}}';
            var message = '{{message}}';
            var csurf = '{{csurf}}';
            var register = {{register}};
            var username = '{{username}}';
        </script>
        <script src="js/vendor-bundle.js"></script>
        <script src="js/login-bundle.js"></script>
    </head>
    <body>
        <div id="login"></div>
    </body>
</html>
