#body {
    background-color: #DDEEFF;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

* {
    border-radius: 5px;
    font-family: "Noto Sans", sans-serif;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    cursor: pointer;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 10px;

    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#overlay {
    position: fixed;
    display: block;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(150,150,150,.8);
    z-index: 2;
}

#live-quiz, #confirm-box {
    position: fixed;
    background-color: #2C2C2C;
    color: white;
    border: 1px solid black;
    top: 15%;
    z-index: 3;
}

#live-question-list {
    position: absolute;
    top: 40px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    list-style: decimal inside;
    overflow: auto;
}

#live-quiz {
    position: fixed;
    top: 8px;
    bottom: 8px;
    left: 20%;
    width: 60%;
}

.presenting-live-button {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    background-color: #AA0000;
    color: white;
    border: none;
    text-align: center;
    min-height: 100%;
    min-width: 5%;
    transition-duration: .6s;
}

.presenting-live-button:hover {
    background-color: #AA4444;
}

.presenting-live-button-selected {
    background-color: #008800;
}

.presenting-live-button-selected:hover {
    background-color: #008800;
}

#confirm-box {
    text-align: center;
    font-size: 32px;
    left: 30%;
    width: 40%;
}

#confirm-msg {
    margin: 20px;
}

#confirm-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.confirm-button {
    text-align: center;
    color: white;
    border: none;
    font-size: 24px;
    padding: 6px 12px;
    margin-bottom: 20px;
}

#yes-button {
    background-color: #176d18;
}

#no-button {
    background-color: #FF0000;
}

#ok-button {
    color: black;
    background-color: #AABBDD;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

#header-panel {
    flex: 1 1 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    max-height: 65px;
    margin-bottom: 10px;
    padding: 10px;

    background-color: #2C2C2C;
}

#header-panel #logo {
    flex: 0 1 auto;
}

#header-panel #name {
    flex: 0 1 auto;
    color: white;
}

#header-panel #nav-links {
    flex: 0 1 auto;
}

.header-nav-link {
    margin-left: 10px;
    padding: 15px 30px;
    text-align: center;
    font-size: 20px;

    background-color: #555555;
    text-decoration: none;
    border: none;
    color: white;

    transition-duration: .6s;
}

.header-nav-link:hover {
    background-color: #3c6668;
    color: white;
}

.header-nav-link-selected {
    background-color: #0055AA;
}

.header-nav-link-selected:hover {
    background-color: #0077CC;
}

#panels {
    flex: 1 1 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.panel {
    flex: 1 1 auto;
    padding: 10px;
    background-color: #2C2C2C;
    color: white;
}

/* ===== SELECT TERM ====== */

.select-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
}

#school-select-panel {
    width: 33%;
    margin-right: 5px;
}

#course-select-panel {
    width: 34%;
    margin-left: 5px;
    margin-right: 5px;
}

#term-select-panel {
    width: 33%;
    margin-left: 5px;
}

.select-title {
    align-self: center;
    font-size: 20px;
}

.select-list {
    flex: 1 1 auto;
    overflow: auto;
    width: 100%;
}

.select-list-button {
    margin-top: 10px;
    width: 100%;
    height: 30px;

    border: none;
}

.select-list-button-selected {
    background-color: #0077CC;
}

/* ========= HOME ========= */

.home-panel {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

#quiz-panel {
    width: 45%;
    margin-right: 5px;
}

#question-panel {
    width: 55%;
    margin-left: 5px;
}

.option-button {
    align-self: flex-start;
    min-height: 30px;
    max-height: 30px;
    padding: 5px;
    margin-bottom: 10px;

    cursor: pointer;
    background-color: #555555;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    transition-duration: .6s;
}

.option-button:hover {
    background-color: #3c6668;
}

.panel .list {
    flex: 1 1 auto;
}

#quiz-list {
    list-style-type: none;
    overflow: auto;
}

.quiz {
    position: relative;
    vertical-align: top;
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: solid 1px #2C2C2C;
}

.quiz-body {
    height: 50px;
    width: 100%;
    vertical-align: top;

    background-color: #FFFFFF;
    border: none;
}

#question-list {
    list-style: none;
    overflow: auto;
}

.question {
    position: relative;
    vertical-align: top;
    padding: 10px;
    padding-right: 25px;
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: solid 1px #2C2C2C;
}

.question-body {
    display: inline-block;
    vertical-align: top;
    width: 90%;
}

.question-title {
    font-size: 25px;
    font-weight: bold;
}

.answer-list {
    list-style: upper-alpha inside;
    font-size: 18px;
    font-weight: normal;
}

.answer {
    margin: 3px;
}

.question-image {
    max-width: 20%;
    max-height: 300px;
    display: inline-block;
    vertical-align: top;
}

.delete-button {
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    right: 1px;
    top: 1px;

    background-color: #FF2222;
    color: white;
    border: none;
    text-align: center;
    transition-duration: .6s;
}

.delete-button:hover {
    background-color: #FF7777;
}

.live-button {
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    right: 1px;
    bottom: 1px;
    background-color: #008800;
    color: white;
    border: none;
    text-align: center;
    transition-duration: .6s;
}

.live-button:hover {
    background-color: #66aa66;
}

.edit-button {
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    right: 1px;
    bottom: 1px;
    background-color: #0000aa;
    color: white;
    border: none;
    text-align: center;
    transition-duration: .6s;
}

.edit-button:hover {
    background-color: #6666aa;
}

.hide-button {
    position: absolute;
    display: block;
    height: 21px;
    right: 6%;
    top: 1px;
    border: none;
    text-align: center;
    transition-duration: .6s;
}
