body {
    background-color: #DDEEFF;
    font-family: "Noto Sans", sans-serif;
}

#live-quiz, #confirm-box {
    position: fixed;
    display: block;
    background-color: #2C2C2C;
    color: white;
    width: 60%;
    border: 1px solid black;
    left: 20%;
    top: 15%;
    z-index: 3;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

#overlay {
    position: fixed;
    display: block;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(150,150,150,.8);
    z-index: 2;
}

#header-panel {
    background-color: #2C2C2C;
    display: inline-block;
    min-width: 100%;
    margin-bottom: 10px;
    height: 75px;
}

#logo {
    float: left;
}

#name {
    float: left;
    color: white;
    margin-left: 200px;
}

#course-select {
    display: block;
    float: right;
    margin-right: 50px;
    background-color: #2C2C2C;
    color:white;
    border: none;
    min-height: 30px;
    min-width: 125px;
}

.header-nav-link {
    background-color: #555555;
    text-decoration: none;
    border: none;
    color: white;
    margin-top: 9px;
    margin-right: 25px;
    padding: 15px 30px;
    text-align: center;
    font-size: 20px;
    transition-duration: .6s;
    float: right;
}

.header-nav-link:hover {
    background-color: #3c6668;
    color: white;
}

#header-panel #selected {
    background-color: #0055AA
}

#quiz-panel, #question-panel {
    position: absolute;
    overflow: auto;
    background-color: #2C2C2C;
    color: white;
    width: 45%;
    top: 100px;
    bottom: 8px;
}

#quiz-panel {
    left: 8px;
}

#question-panel {
    right: 8px;
}

.option-button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    transition-duration: .6s;
}

.option-button:hover {
    background-color: #3c6668;
}

ol, ul {
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}

.quiz-list {
    list-style-type: none;
}

.quiz, .quiz-question, .question {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 10px;
    margin: 10px;
    vertical-align: top;;
    border: solid 1px #2C2C2C;
}

.quiz {
    padding: 0px;
}

.quiz-body {
    background-color: #FFFFFF;
    height: 50px;
    width: 100%;
    vertical-align: top;
}

.question-body {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.question-name {
    margin: 0px;
}

.answer-list {
    list-style-type: upper-alpha;
    font-size: 18px;
    font-weight: normal;
}

.question-image {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.delete-button {
    position: absolute;
    display: block;
    width: 23px;
    height: 23px;
    right: 0;
    top: 0;
    background-color: #FF2222;
    color: white;
    border: none;
    text-align: center;
    transition-duration: .6s;
}

.delete-button:hover {
    background-color: #FF7777;
}

.panel {
    position: absolute;
    overflow: auto;
    background-color: #2C2C2C;
    color: white;
    top: 100px;
    bottom: 8px;
}

#student-panel {
    width: 30%;
    left: 10px;
}

table.sortable thead {
    background-color:#eee;
    color:#000000;
    font-weight: bold;
    cursor: default;
}

.list-button {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #222222;
    border: 1px solid #111111;
}

.list-button:hover {
    background-color: #333333;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #444444;
}

ul.tab li {
    float: left;
    width: 50%;
}

ul.tab li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {
    background-color: #DDDDDD;
}

ul.tab li a:focus, .active {
    background-color: #CCCCCC;
}

.tabcontent {
    display: none;
}

#confirm-box {
    text-align: center;
    font-size: 32px;
}

.confirm-button {
    text-align: center;
    color: white;
    background-color: #176d18;
    border: none;
    font-size: 24px;
    float: right;
    padding: 10px;
    margin-right: 25%;
    margin-bottom: 5%;
}

.cancel-button {
    text-align: center;
    color: white;
    background-color: #FF0000;
    border: none;
    font-size: 24px;
    float: left;
    padding: 10px;
    margin-left: 25%;
    margin-bottom: 5%;
}

#ok-button {
    text-align: center;
    color: black;
    background-color: #DDEEFF;
    border: none;
    font-size: 24px;
    margin: auto;
    margin-bottom: 5%;
    padding: 10px;
    display: block;
}
