.draggable {
    border: dashed 1px red;
    border-radius: 10px;
}

#permission-panel {
    width: 65%;
    right: 10px;
    padding: 10px;
}

#student-list, #ta-list{
    width: 100%;
    text-align: center;
}

#student-list {
    display: table;
}

#make-ta-button {
    margin-left: 45%;
    width: 10%;
}

.panel {
    position: absolute;
    overflow: auto;
    background-color: #2C2C2C;
    color: white;
    top: 100px;
    bottom: 8px;
}

#student-panel {
    width: 30%;
    left: 10px;
}

table.sortable thead {
    background-color:#eee;
    color:#000000;
    font-weight: bold;
    cursor: default;
}

.list-button {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #222222;
    border: 1px solid #111111;
}

.list-button:hover {
    background-color: #333333;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #444444;
}

ul.tab li {
    float: left;
    width: 50%;
}

ul.tab li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {
    background-color: #DDDDDD;
}

ul.tab li a:focus, .active {
    background-color: #CCCCCC;
}

.tabcontent {
    display: none;
}