/* ========= HOME ========= */

#quizzes-title {
    text-align: center;
    margin-bottom: 16px;
}

#quiz-title {
    text-align: center;
    margin-bottom: 16px;
}

.quiz-view-header {
    flex: 0 1 auto;
    border: 2px solid white;
    background-color: #909090;
    margin-bottom: 10px;
    font-size: 17px;
    color: #000000;
    padding: 5px 5px 5px 5px;
}

#choose-quiz-msg {
    text-align: center;
}

#no-question-available {
    text-align: center;
    margin-bottom: 10px;
}

.submit-all-button {
    text-align: center;
    color: white;
    background-color: #176d18;
    border: none;
    font-size: 24px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}

li.submit-all {
    list-style-type: none;
}

/* ========= STATISTICS ========= */

#student-statistics-panel {
    flex: 1 1 auto;
}
