/* ========= HOME ========= */

#quizzes-title {
    text-align: center;
    margin-bottom: 16px;
}

#quiz-title {
    text-align: center;
    margin-bottom: 16px;
}

#choose-quiz-msg {
    text-align: center;
}

.submit-all-button {
    text-align: center;
    color: white;
    background-color: #176d18;
    border: none;
    font-size: 24px;
    margin-left: 41%;
    margin-bottom: 10px;
    display: block;
}

li.submit-all {
    list-style-type: none;
}

/* ========= STATISTICS ========= */

#student-statistics-panel {
    flex: 1 1 auto;
}
