#live-question-msg {
    margin: 25px 0 10px 0;
    text-align: center;
}

#live-question {
    margin-top: 30px;
    display: block;
}

#quiz-title {
    text-align: center;
    margin-left: 10px;
}

#choose-quiz-msg {
    text-align: center;
}

#quiz-name {
    display: inline-block;
    float: left;
}

#choose-quiz-msg {
    text-align: center;
}

#live-question .question-image {
    width: 25%;
}

.submit-all-button {
    text-align: center;
    color: white;
    background-color: #176d18;
    border: none;
    font-size: 24px;
    margin-left: 41%;
    margin-bottom: 10px;
    display: block;
}