#live-quiz {
    position: fixed;
    top: 8px;
    bottom: 8px;
    overflow: auto;
}

.draggable {
    border: dashed 1px red;
    border-radius: 10px;
}

.drag-over {
    border: dashed 3px blue;
}

#question-creator {
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: black;
}

.question-creator-row {
    margin: 10px;
}

.question-creator-title {
    font-size: 18px;
}

.remove-answer-button {
    margin-left: 20px;
}

#hierarchy-panel {
    width: 40%;
}

#image-input {
    max-width: 80%;
    max-height: 300px;
}

#question-hierarchy {
    position: relative;
    list-style-type: none;
    left: 0px;
    width: 100%;
}

#question-list {
    list-style-type: none;
    right: 0px;
    width: 60%;
}

#quiz-creator-header {
    margin: 10px;
    height: 30px;
}

#quiz-question-list {
    overflow: auto;
    position: absolute;
    top: 90px;
    width: 100%;
    bottom: 0px;
}

#live-questions-list {
    margin-top: 30px;
}

#quiz-name {
    display: inline-block;
    float: left;
}

#submit-quiz {
    display: inline-block;
    float: right;
}

#submit-quiz-button {
    background-color: #FFFFFF;
    border: none;
}

.parent-holder {
    list-style-type: none;
    margin-left: 10px;
}

.tree-node {
    list-style-type: none;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #000000;
    border-style: solid;
    border-width: 2px;
    border-top: none;
}

.parent-node {
    background-color: #FFFFFF;
    color: #000000;
    margin-left: 5px;
    
}

.leaf-node {
    margin-left: 15px;
}

.edit-button {
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    right: 3px;
    bottom: 3px;
    background-color: #0000aa;
    color: white;
    border: none;
    text-align: center;
    transition-duration: .6s;
}

.edit-button:hover {
    background-color: #6666aa;
}

.live-button {
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    right: 3px;
    bottom: 3px;
    background-color: #008800;
    color: white;
    border: none;
    text-align: center;
    transition-duration: .6s;
}

.live-button:hover {
    background-color: #66aa66;
}

.presenting-live-button {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    background-color: #AA0000;
    color: white;
    border: none;
    text-align: center;
    min-height: 100%;
    min-width: 5%;
    transition-duration: .6s;
}

.presenting-live-button:hover {
    background-color: #AA4444;
}

.presenting-live-button-selected {
    background-color: #008800;
}

.presenting-live-button-selected:hover {
    background-color: #008800;
}