<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Active Learning Tool - Home</title>
        <link rel="icon" type="image/png" href="images/active_learning_logo_icon.png" />
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <style type="text/css">
            #live-quiz {
                position: fixed;
                top: 8px;
                bottom: 8px;
                overflow: auto;
            }

            #live-quiz-delete-button {
                position: fixed;
                top: 8px;
                right: 20%;
            }

            .draggable {
                border: dashed 1px red;
                border-radius: 10px;
            }

            #question-creator {
                display: none;
                margin: 10px;
                padding: 10px;
                background-color: white;
                color: black;
            }

            #quiz-creator {
                display: none;
            }

            #quiz-creator-header {
                margin: 10px;
                height: 30px;
            }

            #quiz-question-list {
                position: absolute;
                text-align: center;
                top: 90px;
                width: 100%;
                bottom: 0px;
            }

            #live-questions-list {
                margin-top: 30px;
            }

            #quiz-name {
                display: inline-block;
                float: left;
            }

            #present-live {
                display: inline-block;
                margin-right: 10px;
                float: right;
            }

            #submit-quiz {
                display: inline-block;
                float: right;
            }

            #submit-quiz-button, #present-live-button {
                background-color: #FFFFFF;
                border: none;
            }

            .live-button {
                position: absolute;
                display: block;
                width: 23px;
                height: 23px;
                right: 0;
                bottom: 0;
                background-color: #008800;
                color: white;
                border: none;
                text-align: center;
                transition-duration: .6s;
            }

            .live-button:hover {
                background-color: #66aa66;
            }

            .presenting-live-button {
                position: absolute;
                display: block;
                right: 0;
                bottom: 0;
                background-color: #AA0000;
                color: white;
                border: none;
                text-align: center;
                min-height: 100%;
                min-width: 5%;
                transition-duration: .6s;
            }

            .presenting-live-button:hover {
                background-color: #AA4444;
            }

            .presenting-live-button-selected {
                background-color: #008800;
            }

            .presenting-live-button-selected:hover {
                background-color: #008800;
            }
        </style>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script>
            function clearQuestionForm() {
                document.getElementById('question').value = "";
                document.getElementById('answer1').value = "";
                document.getElementById('answer2').value = "";
                document.getElementById('answer3').value = "";
                document.getElementById('answer4').value = "";
                document.getElementById('file-input').value = "";
                document.getElementById('image-input').style.display = "none";

                var buttons = document.getElementsByName('correct');
                for (var i = 0; i < buttons.length; ++i) {
                    buttons[i].checked = i == 0;
                }
            }

            function toggleQuestionForm() {
                clearQuestionForm();

                var e1 = document.getElementById('question-creator');
                e1.style.display = e1.style.display == 'block' ? 'none' : 'block';

                var e2 = document.getElementById('question-list');
                e2.style.display = e2.style.display == 'none' ? 'block' : 'none';

                var b = document.getElementById('create-button');
                b.innerHTML = b.innerHTML != 'Create Question' ? 'Create Question' : 'Cancel' ;
            }

            var current_quiz = { id: null, questions: [] };

            function clearQuizForm() {
                current_quiz = { id: null, questions: [] };
                $('#quiz-name-field').val('');
                $('#quiz-question-list').css('text-align', 'center')
                                        .html('<p id="drag-questions-msg">Drag questions here!</p>');
            }

            function toggleQuizForm() {
                clearQuizForm();

                var e1 = $('#quiz-creator');

                var toggle = e1.css('display') == 'none';

                e1.css('display', toggle ? 'block' : 'none');
                $('#quiz-list').css('display', toggle ? 'none' : 'block');

                for(var id in questions) {
                    var elem = $('#question-' + id).attr('draggable', toggle);
                    if(toggle) {
                        elem.addClass('draggable');
                    } else {
                        elem.removeClass('draggable');
                    }
                }

                $('#create-quiz').html(toggle ? 'Cancel' : 'Create Quiz');
                $('#submit-quiz-button').html('Submit');
            }

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#image-input')
                            .css('display', 'block')
                            .css('max-width', '80%')
                            .attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                    $('#image-input').css('display', 'none');
                }
            }

            function allowDrop(ev) {
                ev.preventDefault();
                // do something?
            }

            function drag(ev) {
                if(ev.target.id && ev.target.id.startsWith('question-')) {
                    ev.dataTransfer.setData('question-id', ev.target.id);
                }
            }

            function addQuizQuestion(id, elem) {
                if(current_quiz.questions.indexOf(id) != -1) {
                    return;
                }

                current_quiz.questions.push(id);

                $('#drag-questions-msg').css('display', 'none');
                $('#quiz-question-list').css('text-align', 'left');

                var list = document.getElementById('quiz-question-list');
                elem.id = 'quiz-question-' + id;
                elem.setAttribute('draggable', false);
                elem.classList.remove('question', 'draggable');
                elem.classList.add('quiz-question');
                elem.childNodes.forEach(function(child) {
                    if(child.classList.contains("delete-button")) {
                        child.setAttribute('onclick', 'removeQuizQuestion(\'' + id + '\')');
                    }
                    if(child.classList.contains("live-button")) {
                        child.style.display = 'none';
                    }
                });

                list.innerHTML += elem.outerHTML;
            }

            function removeQuizQuestion(id, confirmed) {
                var list = document.getElementById('quiz-question-list');
                var nodes = list.childNodes;
                var index = -1;
                for (var i = 0; i < nodes.length; i++) {
                    if (nodes[i].id.endsWith(id)) {
                        index = i;
                    }
                }
                if (index != -1 && (confirmed || confirm('Are you sure you want to remove this question from the quiz?'))) {
                    list.removeChild(nodes[index]);

                    var idx = current_quiz.questions.indexOf(id);
                    current_quiz.questions.splice(idx, 1);

                    if(list.childNodes.length == 1) {
                        $('#drag-questions-msg').css('display', 'block');
                        $('#quiz-question-list').css('text-align', 'center');
                    }
                }
            }

            function drop(ev) {
                ev.preventDefault();
                var id = ev.dataTransfer.getData('question-id');
                var elem = document.getElementById(id).cloneNode(true);

                var question_id = id.substring('question-'.length);
                addQuizQuestion(question_id, elem);
            }

            var questions = {};
            var quizzes = {};

            function createQuestionElement(id, in_question_list) {
                var element = document.createElement('li');
                //<li id="" class="question" ondragstart="drag(event)">
                element.setAttribute('id', 'question-' + id);
                element.setAttribute('class', 'question');
                if(in_question_list) {
                    var draggable = $('#create-quiz').html() == 'Cancel';

                    element.setAttribute('draggable', draggable);
                    if(draggable) {
                        element.classList.add('draggable');
                    }
                }
                element.setAttribute('ondragstart', 'drag(event)');

                var question = questions[id];

                var html = '<div class="question-body"' + (question.image ? '' : ' style="width: 90%"') + '>';
                html += '<p class="question-name"> ' + question.name + '</p>'
                html += '<ol class="answer-list">';
                question.answers.forEach(function(answer, idx) {
                    html += '<li class="answer"><input type="radio" name="answers-' + id + '">' + answer + '</input></li>';
                });
                html += '</ol>';
                html += '</div>';

                if(question.image) {
                    html += '<img class="question-image" src="' + question.image + '" />';
                }

                html += '<button class="delete-button" onclick="deleteQuestion(\'' + id + '\')">&#10006;</button>';

                if(in_question_list) {
                    html += '<button class="live-button" onclick="presentLiveQuiz([\'' + id + '\']) & presentLiveQuestion(\'' + id + '\')">L</button>';
                }

                element.innerHTML = html;

                return element;
            }

            function chooseQuiz(id) {
                toggleQuizForm();

                current_quiz_id = id;

                var quiz = quizzes[id];

                $('#submit-quiz-button').html('Update');
                $('#quiz-name-field').val(quiz.name);

                quiz.questions.forEach(function(question_id) {
                    addQuizQuestion(question_id, createQuestionElement(question_id, false));
                });
            }

            function updateQuestions(new_questions) {
                questions = new_questions;

                var html = '';
                for(var id in questions) {
                    html += createQuestionElement(id, true).outerHTML;
                };

                if(!html) {
                    html = 'Create a question to get started.';
                    $('#question-list').css('text-align', 'center');
                } else {
                    $('#question-list').css('text-align', 'left');
                }

                $('#question-list').html(html);
            }

            function updateQuizzes(new_quizzes) {
                quizzes = new_quizzes;

                var html = '';
                for(var id in quizzes) {
                    var quiz = quizzes[id];
                    html += '<li id="quiz-' + id + '" class="quiz"><button class="quiz-body" onclick="chooseQuiz(\'' + id + '\')">' + quiz.name + '</button><button class="delete-button" onclick="deleteQuiz(\'' + id + '\')">&#10006;</button><button class="live-button" onclick="presentLiveQuiz(quizzes[\'' + id + '\'].questions)">L</button></li>';
                }

                if(!html) {
                    html = 'Create a quiz to get started.';
                    $('#quiz-list').css('text-align', 'center');
                } else {
                    $('#quiz-list').css('text-align', 'left');
                }

                $('#quiz-list').html(html);
            }

            var socket = null;

            var curr_live_id = null;

            function readCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i].trim();
                    if (c.indexOf(nameEQ) == 0) return decodeURIComponent(c.substring(nameEQ.length,c.length));
                }
                return null;
            }

            function connect() {
                var session_id = readCookie('session_id');
                if(session_id == null) {
                    console.error('Could not find session_id cookie?!');
                    return;
                }

                console.log('Connecting...');
                var s = new WebSocket('wss://www.roiatalla.com/active-learning/api');
                s.onopen = function() {
                    socket = s;
                    console.log('Connected to server!');
                    socket.send(JSON.stringify({
                        session_id: session_id
                    }));
                };
                s.onmessage = function(msg) {
                    var data = JSON.parse(msg.data);
                    if(data.login_success) {
                        socket.send(JSON.stringify({ get_quizzes: true }));
                        socket.send(JSON.stringify({ get_questions: true }));
                        if(curr_live_id != null) {
                            socket.send(JSON.stringify({ broadcast_live_question: curr_live_id }));
                        }
                    } else if(data.login_success === false) {
                        console.error('Failed to authenticate to API.');
                    }

                    if(data.questions) {
                        updateQuestions(data.questions);
                    }
                    if(data.quizzes) {
                        updateQuizzes(data.quizzes);
                    }
                };
                s.onclose = function() {
                    socket = null;
                    console.log('Connection closed.');
                    setTimeout(connect, 1000);
                };
            }

            function isSocketAvailable() {
                if(socket == null) {
                    alert('No connection to the server. Attemping to reconnect.');
                    return false;
                }

                return true;
            }

            connect();

            function createQuestion(name, answers, correct, image) {
                var cleaned_answers = [];
                answers.forEach(function(elem) {
                    elem = elem.trim();
                    if(elem) {
                        cleaned_answers.push(elem);
                    }
                });

                if(cleaned_answers.length < 2) {
                    alert('Cannot have less than 2 answers.');
                    return;
                }

                if(correct >= cleaned_answers.length) {
                    alert('Cannot have blank answer as correct answer.');
                    return;
                }

                if(isSocketAvailable()) {
                    socket.send(JSON.stringify({ create_question: { name: name, answers: cleaned_answers, correct: correct, image: image }}));
                    toggleQuestionForm();
                }
            }

            function deleteQuestion(id) {
                if (confirm("Are you sure you want to delete this question?")) {
                    if(isSocketAvailable()) {
                        socket.send(JSON.stringify({ delete_question: id }));
                    }

                    removeQuizQuestion(id, true);
                }
            }

            function getQuestions() {
                if(isSocketAvailable()) {
                    socket.send(JSON.stringify({ get_questions: true }));
                }
            }

            function createQuiz() {
                if(isSocketAvailable()) {
                    var name = $('#quiz-name-field').val();
                    var quiz = { name: name, questions: current_quiz.questions };

                    if($('#submit-quiz-button').html() == 'Submit') {
                        socket.send(JSON.stringify({ create_quiz: quiz}));
                    } else {
                        quiz.id = current_quiz_id;
                        socket.send(JSON.stringify({ update_quiz: quiz}));
                    }

                    toggleQuizForm();
                }
            }

            function deleteQuiz(id) {
                if (confirm("Are you sure you want to delete this quiz?") && isSocketAvailable()) {
                    socket.send(JSON.stringify({ delete_quiz: id }));
                }
            }

            function getQuizzes() {
                if(isSocketAvailable()) {
                    socket.send(JSON.stringify({ get_quizzes: true }));
                }
            }

            function presentLiveQuiz(live_questions) {
                toggleLiveQuiz();
                var list = document.getElementById('live-questions-list');
                list.innerHTML = '';
                live_questions.forEach(function(question_id, index) {
                    var element = document.createElement('li');
                    element.setAttribute('id', 'live-question-' + question_id);
                    element.setAttribute('class', 'question');
                    var question = questions[question_id];
                    var html = '<div class="question-body"' + (question.image ? '' : ' style="width: 90%"') + '>';
                    html += '<p class="question-name"> ' + question.name + '</p>'
                    html += '<ol class="answer-list">';
                    question.answers.forEach(function(answer, idx) {
                        html += '<li id="live-answer-' + question_id + '-' + idx + '" class="answer"><input type="radio" name="answers-' + question_id + '">' + answer + '</input></li>';
                    });
                    html += '</ol>';
                    html += '</div>';
                    if(question.image) {
                        html += '<img class="question-image" src="' + question.image + '" />';
                    }
                    html += '<button id="presenting-live-button-' + question_id + '" class="presenting-live-button" onclick="presentLiveQuestion(\'' + question_id + '\')">L</button>';
                    element.innerHTML = html;
                    list.appendChild(element)
                });
            }

            function presentLiveQuestion(id) {
                if (curr_live_id != null) {
                    $('#presenting-live-button-' + curr_live_id).removeClass('presenting-live-button-selected');
                }

                if(isSocketAvailable()) {
                    $('#presenting-live-button-' + id).addClass('presenting-live-button-selected');

                    if(curr_live_id != id) {
                        socket.send(JSON.stringify({ broadcast_live_question: id }));
                    }
                }

                curr_live_id = id;
            }

            var state = true;
            function toggleLiveQuiz() {
                curr_live_id = null;
                
                var e1 = document.getElementById('live-quiz');
                e1.style.display = e1.style.display == 'block' ? 'none' : 'block';
                if(state) {
                    myBlurFunction(1);
                    state = false;
                } else {
                    myBlurFunction(0);
                    state = true;

                    if(isSocketAvailable()) {
                        socket.send(JSON.stringify({ end_live_question: true }));
                    }
                }
            }

            function myBlurFunction(state) {
                /* state can be 1 or 0 */
                var containerElement = document.getElementById('main-container');
                var overlayElement = document.getElementById('overlay');
                if (state) {
                    overlayElement.style.display = 'block';
                    containerElement.setAttribute('class', 'blur');
                } else {
                    overlayElement.style.display = 'none';
                    containerElement.setAttribute('class', null);
                }
            }
        </script>
    </head>
    <body>
        <div id="overlay"></div>
        <div id="live-quiz">
            <button id="live-quiz-delete-button" onclick="toggleLiveQuiz()" class="delete-button">&#10006;</button>
            <ol id="live-questions-list"></ol>
        </div>

        <div id="main-container">
            <div id="header-panel">
                <img id="logo" src="images/active_learning_logo_white.png" width="175" height="75" alt="logo"/>
                <h2 id="name">{{username}}</h2>
                <form method="post">
                    <button class="header-button" formaction="api/logout">Logout</button>
                </form>
                <button class="header-button">Settings</button>
                <a href="statistics"><button class="header-button">Statistics</button></a>
                <!-- <select id="course-select">
                    <option value="CS 2110">CS 2110</option>
                    <option value="CS 2200">CS 2200</option>
                    <option value="CS 3600">CS 2200</option>
                </select> -->
                <button class="header-button" id="selected">Home</button>
            </div>

            <div id="quiz-panel">
                <button id="create-quiz" class="option-button" onclick="toggleQuizForm()">Create Quiz</button>
                <div id="quiz-creator">
                    <div id="quiz-creator-header">
                        <div id="quiz-name">Name: <input type="text" id="quiz-name-field" /></div>
                        <div id="submit-quiz"><button id="submit-quiz-button" onclick="createQuiz()">Submit</button></div>
                        <div id="present-live"><button id="present-live-button" onclick="presentLiveQuiz(current_quiz.questions)">Present Live</button></div>
                    </div>
                    <ol id="quiz-question-list" ondrop="drop(event)" ondragover="allowDrop(event)"></ol>
                </div>
                <ol id="quiz-list"></ol>
            </div>

            <div id="question-panel">
                <button id="create-button" class="option-button" onclick="toggleQuestionForm()">Create Question</button>
                <ol id="question-list"></ol>
                <div id="question-creator">
                    <form>
                        <label for="question">Question:</label><br/>
                        <input type="text" id="question" name="question" value="" size="75"/><br/>
                        <label for="answer1">Answer 1:</label><br/>
                        <input type="text" id="answer1" name="answer1" value="" size="35"/>
                        <input type="radio" name="correct" value="0" checked>Correct<br/>
                        <label for="answer2">Answer 2:</label><br/>
                        <input type="text" id="answer2" name="answer2" value="" size="35"/>
                        <input type="radio" name="correct" value="1"/>Correct<br/>
                        <label for="answer3">Answer 3:</label><br/>
                        <input type="text" id="answer3" name="answer3" value="" size="35"/>
                        <input type="radio" name="correct" value="2"/>Correct<br/>
                        <label for="answer4">Answer 4:</label><br/>
                        <input type="text" id="answer4" name="answer4" value="" size="35"/>
                        <input type="radio" name="correct" value="3"/>Correct<br/>
                        <br>
                        <input id="file-input" type="file" onchange="readURL(this);"/>
                        <div>
                           <br><img id="image-input" src="" alt="Please choose an image"/>
                        </div>
                        <br>
                        <button type="button" onclick="createQuestion(question.value, [answer1.value, answer2.value, answer3.value, answer4.value], correct.value,
                        $('#image-input').attr('src'))">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
