<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Active Learning Tool - Home</title>
        <link rel="icon" type="image/png" href="images/active_learning_logo_icon.png" />
        <link rel="stylesheet" type="text/css" href="css/common.css" />
        <link rel="stylesheet" type="text/css" href="css/professor-home.css" />

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://unpkg.com/react@15/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>

        <script>
            var username = '{{username}}';
        </script>
        <script src="js/utils.js"></script>
        <script src="js/socket.js"></script>
        <script src="js/old-professor-app.js"></script>
        <script src="js/professor-app.js"></script>
    </head>
    <body>
        <div id="panels"></div>
        <!-- <div id="overlay"></div>
        <div id="live-quiz">
            <button id="live-quiz-delete-button" onclick="toggleLiveQuiz()" class="delete-button">&#10006;</button>
            <ol id="live-questions-list"></ol>
        </div>

        <div id="main-container">
            <div id="header-panel">
                <img id="logo" src="images/active_learning_logo_white.png" width="175" height="75" alt="logo"/>
                <h2 id="name">{{username}}</h2>
                <form method="post">
                    <button class="header-button" formaction="api/logout">Logout</button>
                </form>
                <a href="settings"><button class="header-button">Settings</button></a>
                <a href="statistics"><button class="header-button">Statistics</button></a>
                <button class="header-button" id="selected">Home</button>
            </div>

            <div id="quiz-panel">
                <button id="create-quiz" class="option-button" onclick="toggleQuizForm()">Create Quiz</button>
                <div id="quiz-creator">
                    <div id="quiz-creator-header">
                        <div id="quiz-name">Name: <input type="text" id="quiz-name-field" /></div>
                        <div id="submit-quiz"><button id="submit-quiz-button" onclick="createQuiz()">Submit</button></div>
                        <div id="present-live"><button id="present-live-button" onclick="presentLiveQuiz(current_quiz.questions)">Present Live</button></div>
                    </div>
                    <ol id="quiz-question-list" ondrop="drop(event)" ondragover="allowDrop(event)"></ol>
                </div>
                <ol id="quiz-list"></ol>
            </div>

            <div id="question-panel">
                <button id="create-button" class="option-button" onclick="toggleQuestionForm()">Create Question</button>
                <ol id="question-list"></ol>
                <div id="question-creator">
                    <form>
                        <label for="question">Question:</label><br/>
                        <input type="text" id="question" name="question" value="" size="75"/><br/>
                        <label for="answer1">Answer 1:</label><br/>
                        <input type="text" id="answer1" name="answer1" value="" size="35"/>
                        <input type="radio" name="correct" value="0" checked>Correct<br/>
                        <label for="answer2">Answer 2:</label><br/>
                        <input type="text" id="answer2" name="answer2" value="" size="35"/>
                        <input type="radio" name="correct" value="1"/>Correct<br/>
                        <label for="answer3">Answer 3:</label><br/>
                        <input type="text" id="answer3" name="answer3" value="" size="35"/>
                        <input type="radio" name="correct" value="2"/>Correct<br/>
                        <label for="answer4">Answer 4:</label><br/>
                        <input type="text" id="answer4" name="answer4" value="" size="35"/>
                        <input type="radio" name="correct" value="3"/>Correct<br/>
                        <br>
                        <input id="file-input" type="file" onchange="readURL(this);"/>
                        <div>
                           <br><img id="image-input" src="" alt="Please choose an image"/>
                        </div>
                        <br>
                        <button type="button" onclick="createQuestion(question.value, [answer1.value, answer2.value, answer3.value, answer4.value], correct.value,
                        $('#image-input').attr('src'))">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div> -->
    </body>
</html>
