<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">

        <title>Active Learning Tool - Professor Settings</title>
        <link rel="icon" type="image/png" href="images/active_learning_logo_icon.png" />
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <style type="text/css">
            .draggable {
                border: dashed 1px red;
                border-radius: 10px;
            }


            #permission-panel {
                width: 65%;
                right: 10px;
            }


            #student-list, #ta-list{
                width: 100%;
                text-align: center;
            }

            #student-list {
                display: table;
            }

            #make-ta-button {
                margin-left: 45%;
                width: 10%;
            }

            
        </style>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="js/sorttable.js"></script>
        <script src="js/utils.js"></script>
        <script>
            function displayPermissions(str) {
                document.getElementById('permission-panel').innerHTML += "<p>Clicked " + str + "'s name."
            }
        </script>
    </head>
    <body>
        <div id="overlay"></div>
        <div id="main-container">
            <div id="header-panel">
                <img id="logo" src="images/active_learning_logo_white.png" width="175" height="75" alt="logo"/>
                <h2 id="name">{{username}}</h2>
                <form method="post">
                    <button class="header-button" formaction="api/logout">Logout</button>
                </form>
                <button class="header-button" id="selected">Settings</button>
                <a href="statistics"><button class="header-button">Statistics</button></a>
                <a href="./"><button class="header-button">Home</button></a>
            </div>

            <div class="panel" id="student-panel">
                <ul class="tab">
                  <li><a href="javascript:void(0)" class="tablinks active" onclick="openTab(event, 'student-list')">Students</a></li>
                  <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'ta-list')">TAs</a></li>
                </ul>
                    <table class="sortable tabcontent" id="student-list">
                        <thead>
                            <tr><th>Students</th></tr>
                        </thead>
                        <tbody>
                            <tr><td><button class="list-button" onclick="displayPermissions('Roi')">Roi</button></td></tr>
                            <tr><td><button class="list-button" onclick="displayPermissions('Ian')">Ian</button></td></tr>
                            <tr><td><button class="list-button" onclick="displayPermissions('Chad')">Chad</button></td></tr>
                            <tr><td><button class="list-button" onclick="displayPermissions('Joseph')">Joseph</button></td></tr>
                            <tr><td><button class="list-button" onclick="displayPermissions('Raymond')">Raymond</button></td></tr>
                        </tbody>
                    </table>
                    <table class="sortable tabcontent" id="ta-list">
                        <thead>
                            <tr><th>Teaching Assistants</th></tr>
                        </thead>
                        <tbody>
                            <tr><td><button class="list-button" onclick="displayPermissions('1')">TA 1</button></td></tr>
                            <tr><td><button class="list-button" onclick="displayPermissions('2')">TA 2</button></td></tr>
                            <tr><td><button class="list-button" onclick="displayPermissions('3')">TA 3</button></td></tr>
                            <tr><td><button class="list-button" onclick="displayPermissions('4')">TA 4</button></td></tr>
                        </tbody>
                    </table>
            </div>

            <div class="panel" id="permission-panel">
                <p>What else are we going to put here?</p>
                <button id="make-ta-button">Make a TA</button>
            </div>
        </div>
    </body>
</html>