<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">

        <title>Active Learning Tool - Professor Home</title>
        <link rel="icon" type="image/png" href="images/active_learning_logo_icon.png" />
        <link rel="stylesheet" type="text/css" href="../../public/css/common.css">
        <style type="text/css">
            #statistics-panel {
            	position: absolute;
			    overflow: auto;
			    background-color: #2C2C2C;
			    color: white;
			    width: 98.5%;
			    top: 100px;
			    bottom: 8px;
            }
            #statistics-chart {
            	position: absolute;
			    overflow: auto;
			    background-color: #F0F0F0;
			    width: 98.5%;
			    height: 97%;
			    margin: 10px
            }
                
        </style>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="../../node_modules/chart.js/dist/Chart.js"></script>

        <script type="text/javascript">
        	$(window).bind("load", function() {
				//Send chart request for information from server
        		//Recieve chart data from server
        		var info = {
        			labels: ["Q1", "Q2", "Q3", "Q4", "Q5", "Q6", "Q7", "Q8", "Q9", "Q10"],
        			datasets: [{
        				label: '% correct answers',
        				data: [50, 90, 75, 10, 80, 14, 60, 79, 30, 100]
        			}]
        		}

        		var chart = new Chart(document.getElementById("statistics-chart"), {
        			type: 'bar', 
        			data: info,
        			options: {
				        scales: {
				            yAxes: [{
				                ticks: {
				                    beginAtZero:true
				                }
				            }]
				        }
    				}
        		});
			});    
 


        </script>
    </head>
<body>
        <div id="overlay"></div>
        <div id="live-quiz">
            <button id="live-quiz-delete-button" onclick="toggleLiveQuiz()" class="delete-button">&#10006;</button>
            <ol id="live-questions-list"></ol>
        </div>

        <div id="main-container">
            <div id="header-panel">
                <img id="logo" src="images/active_learning_logo_white.png" width="175" height="75" alt="logo"/>
                <h2 id="name">Professor</h2>
                
                <form method="post">
                    <button class="header-button" formaction="api/logout">Logout</button>
                </form>
                <button class="header-button">Settings</button>
                <a href="students.html"><button class="header-button">Students</button></a>
                <a href="statistics.html"><button class="header-button" id="selected">Statistics</button></a>
                <select id="course-select">
                    <option value="CS 2110">CS 2110</option>
                    <option value="CS 2200">CS 2200</option>
                    <option value="CS 3600">CS 2200</option>
                </select>
                <a href="home.html"><button class="header-button">Home</button></a>

            </div>

            <div id="statistics-panel">
            	
            	<canvas id="statistics-chart"></canvas>

                
                
            </div>

            
        </div>
    </body>
</html>