<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">

        <title>Active Learning Tool - Statistics</title>
        <link rel="icon" type="image/png" href="images/active_learning_logo_icon.png" />
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <style type="text/css">
            #statistics-panel {
                position: absolute;
                overflow: auto;
                background-color: #2C2C2C;
                color: white;
                width: 65%;
                top: 100px;
                bottom: 8px;
                right: 10px;
            }

            #statistics-chart {
                position: absolute;
                overflow: auto;
                background-color: #2C2C2C;
                margin: 10px;
            }

            #student-list, #quiz-list{
                width: 100%;
                text-align: center;
            }

            #student-list {
                display: table;
            }
        </style>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
         
        <script src="js/Chart.bundle.min.js"></script>
        <script src="js/sorttable.js"></script>
        <script src="js/utils.js"></script>
       
<!-- 
   		<script src="../../public/js/utils.js"></script>
        <script src="../../public/js/sorttable.js"></script>
        <script src="../../public/js/Chart.bundle.min.js"></script>
 -->
        <script type="text/javascript">
    	var chart = null;
    	var statistics = {{{statistics}}};
	        
		function createChart(info, displayX) {
			return new Chart(document.getElementById("statistics-chart"), {
        			type: 'bar', 
        			data: info,
        			options: {
				        scales: {
				            yAxes: [{
				                ticks: {
				                    beginAtZero:true,
				                    max: 100
				                }
				            }],
				            xAxes: [{
				            	display: displayX
				            }]
				        }
    				}
        		});
		}

		function displayAllQuizStatistics() {
			quizzes = {}

			for (var username in statistics){
	        	for (var quiz_id in statistics[username]){
	        		var quizName = statistics[username][quiz_id]["name"];
	        		var score = 0;
		    		var total = 0;
	        		for (var question_id in statistics[username][quiz_id]["questions"]){
	        			var question = statistics[username][quiz_id]["questions"][question_id];
	        			score += question["score"];
        				total += question["total"];
	        		}
	        		if(quizzes[quizName] != null) {
	        			quizzes[quizName]["score"] += score; 
	        			quizzes[quizName]["total"] += total; 
	        		} else {
	        			quizzes[quizName] = {score: score, total: total};
	        		}
	        	}
	        }
	        labels = []
	        data = []
	        for (var quizName in quizzes) {
	        	labels.push(decodeURIComponent(quizName));
	        	data.push(100.0 * (quizzes[quizName]["score"] / quizzes[quizName]["total"]));
	        }
	        var info = {
        			labels: labels,
        			datasets: [{
        				label: '% correct answers',
        				data: data,
        				backgroundColor: 'rgba(225, 225, 225, 0.2)',
        				borderColor: 'rgba(200, 200, 200, 1)',
        				borderWidth: 2
        			}]
        		}
        	chart.destroy();
        	chart = createChart(info, true);

		}

        function displayStudentStatistics(username){
        	var quizNames = [];
        	var quizScores = [];

        	for (var quiz_id in statistics[username]) {
        		var score = 0;
        		var total = 0;
        		for (var question_id in statistics[username][quiz_id]["questions"]){
        			var question = statistics[username][quiz_id]["questions"][question_id];
        			score += question["score"];
        			total += question["total"];
        		}
        		quizNames.push(decodeURIComponent(statistics[username][quiz_id]["name"]));
        		quizScores.push(100.0 * (score / total));
        	}

        	var info = {
        			labels: quizNames,
        			datasets: [{
        				label: '% correct answers',
        				data: quizScores,
        				backgroundColor: 'rgba(225, 225, 225, 0.2)',
        				borderColor: 'rgba(200, 200, 200, 1)',
        				borderWidth: 2
        			}]
        		}
        	chart.destroy();
        	chart = createChart(info, true);
        }

        function displayQuizStatistics(name) {
        	var score = 0;
		    var total = 0;
        	for (var username in statistics){
        		for (var quiz_id in statistics[username]) {
        			if (statistics[username][quiz_id]["name"] == name) {
		        		for (var question_id in statistics[username][quiz_id]["questions"]){
		        			var question = statistics[username][quiz_id]["questions"][question_id];
		        			score += question["score"];
		        			total += question["total"];
		        		}
        			}
        		}
        	}
        	var info = {
        			labels: [decodeURIComponent(name)],
        			datasets: [{
        				label: '% correct answers',
        				data: [100.0 * (score / total)],
        				backgroundColor: 'rgba(225, 225, 225, 0.2)',
        				borderColor: 'rgba(200, 200, 200, 1)',
        				borderWidth: 2
        			}]
        		}
        	chart.destroy();
        	chart = createChart(info, true);

        }

        function createButton(name, functionName, id) {
        	parent = document.getElementById(id);
        	button = document.createElement("BUTTON");
        	button.setAttribute('onclick', functionName +'(\'' + name +'\')');
        	button.setAttribute('class', 'list-button');
        	text = document.createTextNode(name);
        	button.appendChild(text);
        	parent.appendChild(button);

        }

        	/* JSON Object I want
        	statistics = {
                ...
        		"username": {
                    ...
        			"quiz_id": {
                        name,
                        questions: {
                			"questions_id": {
                			    name,
                                answer,
                				score,
                				total
                			},
                        },
        			},
                },
        	}

        	*/
        	function loadStatistics(firstLoad) {
        		var questions = {};
        		var quizNames = [];
                for (var username in statistics){
                	if(firstLoad){
	                	createButton(username, 'displayStudentStatistics', "student_buttons");
	                }
                	for (var quiz_id in statistics[username]){
                		var quizName = statistics[username][quiz_id]["name"];
                		if(firstLoad && quizNames.indexOf(quizName) == -1) {
                			quizNames.push(quizName);
                			createButton(quizName, 'displayQuizStatistics', 'quiz_buttons');
                		}
                		for (var question_id in statistics[username][quiz_id]["questions"]){
                			var prevScore = 0;
                			var prevTotal = 0;
                			var name = statistics[username][quiz_id]["questions"][question_id]["name"];
                			var question = statistics[username][quiz_id]["questions"][question_id];
                			if (questions[name] != null){
                				prevScore = questions[name]["score"];
                				prevTotal = questions[name]["total"];
                			}

                			questions[name] = {score: prevScore + question["score"], total: prevTotal + question["total"]};
                		}
                	}
                }
               	var labels = [];
               	var data = [];
               	
               	for(question in questions) {
               		labels.push(decodeURIComponent(question));
               		data.push(100.0 * (questions[question]["score"] / questions[question]["total"]));
               	}
               
        		var info = {
        			labels: labels,
        			datasets: [{
        				label: '% correct answers',
        				data: data,
        				backgroundColor: 'rgba(225, 225, 225, 0.2)',
        				borderColor: 'rgba(200, 200, 200, 1)',
        				borderWidth: 2
        			}]
        		}
        		if (chart != null) {
        			chart.destroy();
        		}
        		chart = createChart(info, false);

        	}
        	$(window).bind("load", function() {
        		loadStatistics(true);
        	});    
	
 
        </script>
    </head>
    <body>
        <div id="main-container">
            <div id="header-panel">
                <img id="logo" src="images/active_learning_logo_white.png" width="175" height="75" alt="logo"/>
                <h2 id="name">{{username}}</h2>
                <form method="post">
                    <button class="header-button" formaction="api/logout">Logout</button>
                </form>
                <a href="settings"><button class="header-button">Settings</button></a>
                <button class="header-button" id="selected">Statistics</button>
                <a href="./"><button class="header-button">Home</button></a>
            </div>
            <div class="panel" id="student-panel">
                <ul class="tab">
                  <li><a href="javascript:void(0)" class="tablinks active" onclick="openTab(event, 'student-list')">Students</a></li>
                  <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'quiz-list'); displayAllQuizStatistics();">Quizzes</a></li>
                </ul>
                    <table class="sortable tabcontent" id="student-list">
                        <thead>
                            <tr><th>Students</th></tr>
                        </thead>
                        <tbody id="student_buttons"></tbody>
                    </table>
                    <table class="sortable tabcontent" id="quiz-list">
                        <thead>
                            <tr><th>Quizzes</th></tr>
                        </thead>
                        <tbody id="quiz_buttons"></tbody>
                    </table>
            </div>
            <div id="statistics-panel">
            	<button class="list-button" onclick="loadStatistics(false)">Load Question Statistics</button>
                <canvas id="statistics-chart"></canvas>
            </div>
        </div>
    </body>
</html>
