<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Active Learning Tool - Statistics</title>
        <link rel="icon" type="image/png" href="images/active_learning_logo_icon.png" />
        <link rel="stylesheet" type="text/css" href="css/common.css" />
        <link rel="stylesheet" type="text/css" href="css/student-statistics.css" />

        <script src="https://unpkg.com/react@15/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>

        <script>
            var username = '{{username}}';
            var statistics = {{{statistics}}}[username];
        </script>
        <script src="js/chart.bundle.min.js"></script>
        <script src="js/sorttable.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/student-statistics.js"></script>
    </head>
    <body>
        <div id="panels"></div>
    </body>
</html>
